html, body {
  margin: 0px;
  padding: 0px;
  background-image: url(../images/bg.gif);
}
h1, h2, h3, h4, h5, h6, p, form {
  margin: 0px;
  padding: 0px;
}
#wrapper {
  margin: 0px auto;
  width: 800px;
  background-color: #ffffff;
}
#content {
  margin: 0px auto;
  width: 778px;
  background-image: url(../images/bg_header_top.gif);
  background-repeat: repeat-x;
  background-position: center top;
}
#header {
  height: 96px;
}
#logo {
  width: 258px;
  float: left;
}
#logo h1 {
  font-family: "Trebuchet MS";
  font-size: 26px;
  color: #f76b0c;
  font-weight: normal;
  text-decoration: none;
  padding-left: 40px;
  padding-top: 30px;
}
#logo h4 {
  font-family: "Trebuchet MS";
  font-size: 11px;
  color: #808080;
  font-weight: normal;
  text-decoration: none;
  padding-left: 75px;
}
#links ul {
  margin: 0px;
  padding-top: 67px;
}
#links li {
  border-left: 1px solid #ffffff;
  float: left;
  list-style-type: none;
  width: 103px;
  height: 25px;
  text-align: center;
  background-color: #f4a80a;
  padding-top: 4px;
}
#links a {
  font-family: "Trebuchet MS";
  font-size: 11px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}
#links a:hover {
  font-family: "Trebuchet MS";
  font-size: 11px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: underline;
}
#mainimg {
  background-image: url(../images/main_img.jpg);
  background-repeat: no-repeat;
  height: 132px;
  text-align: right;
}
#mainimg h3 {
  padding: 20px 40px 0px 0px;
  font-family: "Trebuchet MS";
  font-size: 48px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}
#mainimg h4 {
  padding: 0px 40px 0px 0px;
  font-family: "Trebuchet MS";
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}
#contentarea {
  padding: 25px 0px;
  clear: both;
}
#contentarea h1 {
  padding: 20px 40px 0px 0px;
  font-size: 48px;
  font-weight: normal;
  font-family: "Trebuchet MS";
  color: #999999;
  text-decoration: none;
}
#contentarea h3 {
  padding: 0px 40px 0px 0px;
  font-size: 18px;
  font-weight: normal;
  font-family: "Trebuchet MS";
  color: #999999;
  text-decoration: none;
}
#leftbar {
  border-right: 1px solid #bcbdbc;
  float: left;
  width: 539px;
}
#leftbar h2 {
  font-family: "Trebuchet MS";
  font-size: 26px;
  color: #ee8907;
  font-weight: normal;
  text-decoration: none;
  padding-left: 40px;
  padding-bottom: 5px;
}
#leftbar h4 {
  font-family: "Trebuchet MS";
  font-size: 14px;
  color: #ee8907;
  font-weight: normal;
  text-decoration: none;
  padding-left: 40px;
  padding-bottom: 5px;
  padding-top: 10px;
}
#leftbar p {
  padding: 0px 40px;
  font-family: "Trebuchet MS";
  font-size: 11px;
  color: #797b7a;
  font-weight: normal;
  text-decoration: none;
}
#leftbar a {
  padding: 0px;
  font-family: "Trebuchet MS";
  font-size: 11px;
  color: #ee8907;
  font-weight: bold;
  text-decoration: none;
}
#leftbar a:hover {
  padding: 0px;
  font-family: "Trebuchet MS";
  font-size: 11px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
#leftbar ul {
  padding: 0px 65px;
}
#leftbar li {
  padding: 0px;
  font-family: "Trebuchet MS";
  font-size: 11px;
  color: #797b7a;
  font-weight: normal;
  text-decoration: none;
}
#rightbar {
  float: left;
  width: 237px;
}
#rightbar h2 {
  font-family: "Trebuchet MS";
  font-size: 26px;
  color: #797b7a;
  font-weight: normal;
  text-decoration: none;
  padding-left: 25px;
  padding-bottom: 5px;
}
#rightbar p {
  padding: 0px 25px;
  font-family: "Trebuchet MS";
  font-size: 11px;
  color: #797b7a;
  font-weight: normal;
  text-decoration: none;
}
.orangetext {
  font-family: "Trebuchet MS";
  font-size: 11px;
  color: #ee8907;
  font-weight: bold;
  text-decoration: none;
}
#bottom {
  clear: both;
  height: 32px;
  padding-top: 25px;
}
#email {
  float: left;
  width: 500px;
  background-color: #9bbe00;
  height: 27px;
  padding-top: 5px;
}
#email a {
  padding: 0px 40px;
  font-family: "Trebuchet MS";
  font-size: 11px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: underline;
}
#email a:hover {
  padding: 0px 40px;
  font-family: "Trebuchet MS";
  font-size: 11px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}
#validtext {
  float: left;
  width: 278px;
  background-color: #9bbe00;
  height: 27px;
  padding-top: 5px;
}
#validtext p {
  font-family: "Trebuchet MS";
  font-size: 11px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
  text-align: right;
  padding-right: 35px;
}
#validtext a {
  font-family: "Trebuchet MS";
  font-size: 11px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: underline;
}
#validtext a:hover {
  font-family: "Trebuchet MS";
  font-size: 11px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}
/*	Desarrollo de la galeria de imagenes	*/

li .min	{
	background: url(../images/base1.png);
	width: 75px;
	height: 64px;
	padding: 6px 20px 20px 7px;
	}
	
#titulos	{
	padding: 10px;
	text-align: center;
	}
	
#borde	{
	width: 405px;
	height: 305px;
	position: absolute;
	top: 250px;	/* Provoca la separacion del borde superior */
	left: 50%;	/* Separa la imagen grande de la pequea */
	background: url(img/galeria.png);
	}

.cat	{
	list-style-type: none;
	margin: 0 0 25px 10px; /* Eliminacion de vieta en IE6 */
	padding: 0px; /* Eliminacion de vieta en IE6 */
	float:left;
	}
	
.max{
	visibility: hidden;
	position: absolute;
	top: 255px;	/* Provoca la separacion del borde superior */
	left: 50%;	/* Separa la imagen grande de la pequea */
  margin-left: 5px;
	}
	
a:hover .max	{
	visibility: visible;
	}
